extends layout


block content
    .full-page
        header
            .head-content.about-head
                h1 MetaSearchDB
                p Find the data closest to your metagenomic data!
                ul(id="nav")
                    li
                        a(href="./") Home
                    li
                        a(href="./about") About
                    li(class="disabled")
                        a(href="#") Help
                    li
                        a(href="./contact") Contact
        main
            .main-content.help-main
                h4=how
                h4 #{__("How")} #{how}
                p(id="explain")=click
                p !{__("Click")} !{click}
                h4=results
                h4 #{__("Results")} #{results}
                p(id="explain")=theresults
                p #{__("Theresults")} #{theresults}

